li {
  list-style: none;
}
.city-name {
  font-size: 2em;
}
.weather-main {
  font-size: 6em;
  line-height: 60%;
  font-weight: 500;
}

.weather-description {
  font-size: 1.5em;
  font-weight: 500;
}
.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  font-size: 1.1em;
}
